<div class="sidenav">
    <mat-nav-list>
        <mat-card id="Admin">
            <mat-icon id="adminIcn">person</mat-icon>
            <h2>Admin</h2>
          </mat-card>
          <mat-card id="BarraNav">Barra De Navegación</mat-card>
          <a mat-list-item href="#">
            <mat-icon>settings</mat-icon>
            <h3 id="h3op">Configuración</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon> monetization_on</mat-icon>
            <h3 id="h3op">Ventas</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon>shopping_cart</mat-icon>
            <h3 id="h3op">Pedidos</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon>people</mat-icon>
            <h3 id="h3op">Empleados</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon>file_copy</mat-icon>
            <h3 id="h3op">Reportes</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon>view_comfy</mat-icon>
            <h3 id="h3op">Inventarios</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon>how_to_reg</mat-icon>
            <h3 id="h3op">Proveedores</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon matBadge="5">email</mat-icon>
            <h3 id="h3op">Notificaciones</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>
          <a mat-list-item href="#">
            <mat-icon> pie_chart</mat-icon>
            <h3 id="h3op">Parametrizaciones</h3>
            <div id="flecha"><mat-icon id="chevron-icon">chevron_left</mat-icon></div>
          </a>    
    </mat-nav-list>
</div>