<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<img id="banner" src="/assets/bannerInicio.png" width="1300" height="500" >

<div style="margin: 0px auto; text-align: center;">
    <br />
    <table id="tabla1">
    <tr>
    <h1 >Bienvenidos</h1>
    </tr> 
    </table>
</div>

<div style="margin: 0px auto; text-align: center;">
    <br />
    <table id="tabla" class="mat-elevation-z8">
    <tr>
        <td>
        <h2>¿Quienes somos?</h2>
        <p>Bla...Bla...Bla...</p>
        
    </td>
    <td>
        <img src="/assets/fabrica.jpg" width="550" height="310" Style="margin-left: 10px; margin-right: 10px;">
    </td>
    </tr>   
    </table>
    <br />
</div>

<div id="footer">
    <p id="parrafo">
      <strong>Copyright &copy; 2020 <h1>Universidad De Cundinamarca.</h1></strong> Todos Los Derechos Reservados.
    </p>
</div>
</body>

</html>
