mat-sidenav-content{
    background: white;
}
mat-sidenav-container{
    height: 91%;
}
.container-fluid{
    height: 100%;
}
.subHeader{
    display: inline;
}
#labelBuscar{
    color: white;
}
#btnCrear{
    display: block;
    background: rgb(66, 72, 80);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    height: 56px;
    margin-bottom: -58.5px;
    margin-top: 0px;
}
#btnCrear:hover{
    background: rgb(46, 133, 231);
    color: white;
}
#iconAdd{
    float: left;
    margin-left: 5%;
}
#btnCrear p{
    float: left;
    margin-top: 3px;
    font-size: 17px;
    margin-left: 5%;
    
}
mat-form-field{
    display: block;
    margin: 0px auto;
    text-align: center;
    background: rgb(66, 72, 80);
    width: 89.6%;
    height: 54px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: text;
    outline-color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 10.05%;
}
table{
    margin: 0px auto; 
    width: 100%; 
    height: 100%; 
    text-align: center;
    border: 1px solid white;
}
th.mat-header-cell, 
td.mat-cell, 
td.mat-footer-cell{
    text-align: center;
    border: 1px solid white;
    background: rgb(66, 72, 80);
}
.mat-sort-header-content{
    display: block;
    margin: 0px auto;
}
[mat-header-row], 
[mat-row], 
[mat-footer-row]{
    background: rgb(66, 72, 80);
}
#empty{
    border-bottom: none;
}
#tdBtnLD{
    border-top: none;
}
#btnLaunch{
    margin-right: 10%;
}
#btnLaunch:hover{
    background: white;
    color: rgb(66, 72, 80);
}
#btnDelete:hover{
    background: rgb(218, 44, 44);
    color: white;
}
#titulo h1{
    color: gray;
    margin-top: 30px;
    font-size: 40px;
    margin-left: 20px;
  }
#tituloConfg h2{
    color: gray;
    margin-left: 20px;
}
.wrapper {
    min-height: calc(100% - 4rem);
  }
#footer{
    background-color: rgb(27, 29, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}
#parrafo{
    text-align: center;

    background-color: transparent;
    color: rgb(143, 136, 136);
    bottom: 0;
    margin-top: 17px;
    margin-left: 20px;
}


#parrafo h1{
  display:inline;
  color: rgb(243, 245, 247);
  font-size: medium;
}
#divEmp{
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
#divEmp h1{
    display: inline;
    color: black;
}