<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="margin: 0px auto; text-align: center;">
        <br />
        <table id="tabla" class="mat-elevation-z8">
            <img src="/assets/logo.png" width="210" height="210" Style="margin-left: 10px; margin-right: 10px;">
            <br />
            <mat-form-field id="cuadroEmail">
                <mat-label id="example-label">Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field id="cuadroPassword">
                <mat-label id="example-label">Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br />
            <br />
            <button id=botonIngresar class="mat-elevation-z8">
                Ingresar</button>
            <br />
            <br />
            <tr id="tr">
                <p></p>
                <a style="text-decoration: none; color: rgb(135, 184, 240); " href="google.com" target="_blank">¿Olvidó
                    su contraseña?</a>
            </tr>
        </table>
        <br />
    </div>
</body>

</html>