<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <p>
                <mat-toolbar id="tool" class="mat-elevation-z8">
                  <span>HC CAUCHOS</span>
                  <span class="spacer"> </span>         
                  <button class="boton-tool" mat-button>Inicio </button>
                  <button class="boton-tool" mat-button>Catalogo </button>
                  <button class="boton-tool" mat-button>Contactar </button>
                  <button class="boton-tool" mat-button>Ingresar </button>
                  <button class="boton-tool" mat-button>Registrar </button>
                 </mat-toolbar>
           </p>
        </div>
    </header>
    
    <div style="margin: 0px auto; text-align: center;">
        <table id="tabla" class="mat-elevation-z8">
        <input type="text"><br/>
        <input type="text"><br/> 
        <input type="button" name="Enviar">
    </table>
    </div>
</body>
</html>