#tabla{  
    border-radius: 10px; 
    width: 450px ;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  
}

#botonIngresar{
    background-color: rgb(255, 83, 52);
    border-radius: 5px; 
    color:white;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: none;
}

#tr{
    align-content: center;
    background-color: rgb(240, 240, 240);
    width: 10px ;
    height: 40px;
}

#example-label{
    color: black;
    border: black;
    
}

  #cuadroEmail{
    color: black;
    width: 400px;
    height: 40px;
    background-color: rgb(226, 236, 250);
    border-radius: 10px;
  }

  #cuadroPassword{
    color: black;
    width: 400px;
    height: 40px;
    background-color: rgb(226, 236, 250);
    border-radius: 10px; 
  }
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }
.boton-tool:hover{
  color: white;
}