
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
      <div>
          <p>            
              <mat-toolbar id="tool" class="mat-elevation-z8">
                <img src="/assets/logo.png" width="50" height="50" Style="margin-left: 10px; margin-right: 10px;">
                <span> HC CAUCHOS</span>
                <span class="spacer"> </span>         
                <button class="boton-tool" mat-button routerLink="/inicio" routerLinkActive="active">Inicio </button>
                <button class="boton-tool" mat-button routerLink="/catalogo" routerLinkActive="active">Catalogo </button>
                <button class="boton-tool" mat-button>Contactar </button>
                <button class="boton-tool" mat-button routerLink="/login" routerLinkActive="active">Ingresar </button>
                <button class="boton-tool" mat-button routerLink="/registro" routerLinkActive="active">Registrar </button>
               </mat-toolbar>
         </p>
      </div>
      
  </header>
 <router-outlet></router-outlet>
  
</body>
</html>