h1{
    display:inline;
}
mat-icon{
    cursor: pointer;
}
.active{
    color: rgb(250, 231, 64) !important; 
}
.mat-toolbar{
    background: rgb(46, 133, 231);
}
.example-spacer {
    flex: 1 1 auto;
}